<div class="center hero-unit">
  <div id="row-1st">
    <%= link_to image_tag("cuon.jpg", { alt: "Cuon", id: "top_cuon_photo" }) %>
    <div id="row-1st-in">
        <div >
            <h1>Welcome to the Attendance Management App</h1>
            <h2>
              This is the home page for the Attendance Management Application.
            </h2>
        </div>
    </div>
  </div>
</div>