<div class="center hero-unit">
  <% provide(:title, 'List') %>
  <h1>社員一覧</h1>
  <h2>
    <% @users.each do |user| %>
      <li><%= link_to user.username, attendance_path(user) %></li>
    <% end %>
  </h2>
</div>