<div class="center hero-unit">
  <% provide(:title, 'Menu') %>
  <h1>Menu</h1>
  <h2>
    <li><%= link_to "社員一覧", users_path %></li>
    <li><a href="">プロジェクト管理</a></li>
    <li><a href="">クラス管理</a></li>
  </h2>
</div>