<% provide(:title, 'Menu') %>


<div class="center hero-unit">
  <h1>Menu</h1>
  <h2>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "プロジェクト一覧", projects_path %></li>
    <li><%= link_to "クラス一覧", classes_path %></li>
  </h2>
</div>