<div class="center hero-unit">
  <% provide(:title, 'Menu') %>
  <h1>Menu</h1>
  <h2>
    <li><a href="">社員一覧</a></li>
    <li><a href="">プロジェクト管理</a></li>
    <li><a href="">クラス管理</a></li>
    </li>
  </h2>
</div>