<footer class="footer">
  <div class="container">
    <small>
      <a href="http://www.cuon.co.jp/">株式会社 Cuon</a>
    </small>
    <nav>
      <ul>
        <li><a href="http://www.cuon.co.jp/corporate/corporate_sumally.html">About</a></li>
        <li><a href="http://www.cuon.co.jp/news/">News</a></li>
      </ul>
    </nav>
  </div>
</footer>